@model hw_6.Models.Product

@{
    ViewBag.Title = "Products";
}

<!--  Main Product Name -->
<center><h2>@Html.DisplayFor(model => model.ProductModel.Name)</h2></center>

<div class="row col-md-12">
    <h4>
        <!-- Link back to subcategory this product is part of -->
        <span>@Html.ActionLink(Model.ProductSubcategory.Name, "Products/" + Model.ProductSubcategoryID)</span> >
        <span>@Html.DisplayFor(model => model.ProductModel.Name)</span>
    </h4>
    <hr />
    <div class="row col-md-8">
        <!-- Display the product number, color, price, size, and weight of this product-->
        <dl class="dl-horizontal col-md-5">
            <dt>
                Product #
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>

            <dt>
                Price
            </dt>

            <dd>
                $@Html.DisplayFor(model => model.ListPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Size)
            </dt>

            <dd>
                <span>@Html.DisplayFor(model => model.Size)</span><span> @ViewBag.SizeUnit</span>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>

            <dd>
                <span>@Html.DisplayFor(model => model.Weight)</span> @ViewBag.WeightUnit<span></span>
            </dd>
        </dl>
    </div>
</div>
<br />
<!-- Link to the page to make a new review -->
<p>@Html.ActionLink("Write a Review", "Reviews", new { id = Model.ProductID })</p>

<!-- Drop down panel to view the reviews of this particular product -->
<div class="row panel-group col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <!-- View Reviews toggle link on the left, Product Rating and number of reviews on the right-->
                <a data-toggle="collapse" href="#collapseReviews">Reviews</a>
            </h4>
        </div>
        <div id="collapseReviews" class="panel-collapse collapse">
            <div class="panel-body">
                <!-- If this product has no reviews, create link to make one, else list the reviews -->
                @if (ViewBag.NumofReviews == 0)
                {
                    <span>@Html.ActionLink("Be the first to review this product", "Reviews", new { id = Model.ProductID })</span>
                }
                else
                {
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Comments
                            </th>
                        </tr>
                        @foreach (var item in Model.ProductReviews.OrderByDescending(p => p.ReviewDate).ToList())
                        { <!-- Display the name, date, and comments of each review -->
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReviewDate)
                                </td>
                           
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comments)
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
            <div class="panel-footer"><a href="#">Back to top</a></div>
        </div>
    </div>
</div>
<br />
<p>
    @Html.ActionLink("Back to List", "SubProducts/" + Model.ProductSubcategoryID)
</p>

